* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --preto-puro: #000;
    --preto-texto: #333333;
    --preto-indicador:#00000067;
    --branco-puro: #fff;
}

body {
    width: 100vw;
    height: 100vh;
}
/* ********************Iníco header************************** */
header {
    background: var(--preto-puro);
    width: 100vw;
    height: 100px;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 40px;
    row-gap: 5px;
    align-items: center;
    padding: 3px;
}

.logo{
    width: 70px;
}

.logo a {
    text-decoration: none;
    color: var(--branco-puro);
    font-size: 1.4rem;
    font-weight: 600;
    grid-column: 1 / 2;
}

form {
    min-width: 245px;
    
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background: var(--branco-puro);
    border-radius: 10px;
    
}

form input{
    width: 88%;
  
    padding: 8px;
    border-radius: 10px 0 0 10px;
    border: none;
}

form button{
    background: var(--branco-puro);
    border: none;
    width: 20px;
    height: 20px;
    font-size: 1.1rem;
   
}

.menu-ul{
   
    background: var(--branco-puro);
    width: 220px;
    border-radius: 10px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 10px;
    box-shadow: 5px 5px 10px 0px #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
     display: none;
}



li {
   width: 80%;
   list-style: none;

}

li a {
    color: var(--preto-texto);
    text-decoration: none;
}

.cart-notification{
 grid-column: 3 / 4;
}


.btn-menu,
.btn-cart,
.btn-notification {
    background: transparent;
    border: none;
    color: var(--branco-puro);
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    justify-items: end;
}

.btn-cart, .btn-notification{
    position: relative;
}

.btn-cart span, .btn-notification span{
    font-size: .9rem;
    position: absolute;
    top: 0;
}


.menu{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
   display: flex;
   align-items: center;

}

/**********************Fim header*********************** */

.container{
    width: 100vw;
    padding: 8px;
}

.hero{
    width: 100%;
    height:220px;
    position: relative;
}

.galeria{
    width: auto;
    height: 200px;
    display: flex;
    overflow-y: auto;
    gap: 10px;
    background: #e4e4e4;
}

.item{
    display: flex;
    justify-content: space-between;
    /* align-items: end; */
   
    width: 100%;
    height: 200px;
    display: none;
}

.item.active{
    display: flex;
}

.text-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 40%;
    padding: 0  0 0 5px;
}

.text-button h2{
    font-size: 1.1rem;
}

.text-button button{
    background: var(--preto-puro);
    color: var(--branco-puro);
    border-radius: 10px;
    width: 100%;
    height: 35px;
    border: none;
 	box-shadow: 5px 5px 10px 0px #232323;
    
}




.next, .prev{
    position: absolute;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    height: 200px;
    color: #2020204d;
}


.prev{
    top: 0;
}

.next{
    top: 0;
    right: 0;
}

h3{
    color: #000;
}

.posicoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 25px;
}


.posicao{
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background: var(--preto-indicador);
}

.posicao.active{
    width: 15px;
    background: var(--preto-puro);
}





/* para telas maiores

.next:hover, .prev:hover{
    color: var(--preto-puro);
} */