* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --cor-principal: #222831;
    --cor-opaca:#222831ad;
    --cor-secundaria: #393e46;
    --cor-borda: #393e4636;
    --amarelo: #f8b601;
    --verde:#028008;
    --cor-texto-principal: #181818;
    --branco-puro: #fff;
    --bege-claro: #dfd0b82a;
    --sombra:box-shadow: 5px 5px 10px 0px #232323;

}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
   
   
}

header {
    background: var(--cor-principal);
    width: 100%;
    height: 110px;
    padding: 0 5px;
    position: fixed;
    z-index: 1;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 40px;
    row-gap: 5px;
    align-items: center;
    padding: 3px;
}

.logo {
    width: 70px;
}

.logo a {
    text-decoration: none;
    color: var(--branco-puro);
    font-size: 1.4rem;
    font-weight: 600;
    grid-column: 1 / 2;
}

form {
    min-width: 245px;
    max-width: 350px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background: var(--branco-puro);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    width: 88%;
    padding: 8px;
    border-radius: 10px 0 0 10px;
    border: none;
}

form button {
    background: var(--branco-puro);
    border: none;
    width: 20px;
    height: 20px;
    font-size: 1.1rem;
}

.menu-ul {
    background: var(--branco-puro);
    width: 220px;
    border-radius: 10px;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 10px;
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
}

.menu-ul li {
    width: 80%;
    list-style: none;
}

.menu-ul li a {
    color: var(--cor-principal);
    text-decoration: none;
}


.cart-notification {
    grid-column: 3 / 4;
    display: flex;
    justify-content: end;
}

.btn-menu,
.btn-cart,
.btn-notification {
    background: transparent;
    border: none;
    color: var(--branco-puro);
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    justify-items: end;
}

.btn-cart,
.btn-notification {
    position: relative;
}

.btn-cart span,
.btn-notification span {
    font-size: 0.9rem;
    position: absolute;
    top: 0;
}
