

.container {
    width: 100%;
    padding: 8px;
     padding-top: 100px;
}

.hero {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.galeria {
  
    width: auto;
    height: 100%;
    display: flex;
    overflow-y: auto;
    gap: 10px;
    background: var(--bege-claro);
}

.item {
    display: flex;
    justify-content: end;
    height: 100%;
    position: absolute;
    left: 2000px;
    transition: ease 1s;
}

.item.active {
    display: flex;
    left: 0;
    opacity: 1;
    width: 100%;
    max-width: 1200px;
}

.item img{
    filter: drop-shadow( 6px  11px  15px  #000000 );
}


.text-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 0 0 0 5px;
    position: absolute;
    left: 10px;
    top: 40px;
    
}

.text-button h2 {
    font-size: 1.1rem;
    width: 100%;
    color: var(--cor-texto-principal);
    text-shadow: 1px  5px  10px  #00000073 ;
}

.text-button button {
    background: var(--cor-secundaria);
    color: var(--branco-puro);
    border-radius: 10px;
    width: 100%;
    max-width: 220px;
    height: 35px;
    border: none;
    box-shadow: 5px 5px 10px 0px #232323;
    position: absolute;
    top: 120px;
    /* left: 25px; */
      
}

.text-button button:hover {
    background: var(--cor-principal);
}

.next,
.prev {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    height: 100%;
    color: #2020204d;
}

.prev {
    top: 0;
}

.next {
    top: 0;
    right: 0;
}

h3 {
    color: #000;
}

.posicoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 25px;
}

.posicao {
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background: var(--preto-indicador);
}

.posicao.active {
    width: 15px;
    background: var(--preto-puro);
}
/* ****************************Fim do hero************************** */

.produtos-destaques {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.card {
    width: 180px;
    height: 300px;
    border: solid 1px var(--cor-borda);
    border-radius: 5px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.conteudo-inferior-card {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding: 5px;
}

a.title-card {
    text-decoration: none;
    color: var(--cor-texto-principal);
    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.preco-botao {
    width: 100%;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: space-between;
}

.preco-botao a{
    width: 30px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: var(--cor-principal);
}

.preco-botao button:hover {
    background: #22283154;
    border-radius: 5px;
}

.card p {
    font-size: 0.8rem;
    color: var(--cor-principal);
}
