* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --cor-principal: #222831;
    --cor-secundaria: #393e46;
    --cor-borda: #393e4636;
    --amarelo: #f8b601;
    --verde:#028008;
    --cor-texto-principal: #181818;
    --branco-puro: #fff;
    --bege-claro: #dfd0b88a;
    --sombra:box-shadow: 5px 5px 10px 0px #232323;

}

body {
    width: 100vw;
    height: 100vh;
   
    justify-content: center;
   
}
/* ********************Iníco header************************** */
header {
    background: var(--cor-principal);
    width: 100%;
    height: 110px;
    padding: 0 5px;
    position: fixed;
    z-index: 1;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 40px;
    row-gap: 5px;
    align-items: center;
    padding: 3px;
}

.logo {
    width: 70px;
}

.logo a {
    text-decoration: none;
    color: var(--branco-puro);
    font-size: 1.4rem;
    font-weight: 600;
    grid-column: 1 / 2;
}

form {
    min-width: 245px;
    max-width: 350px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background: var(--branco-puro);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    width: 88%;
    padding: 8px;
    border-radius: 10px 0 0 10px;
    border: none;
}

form button {
    background: var(--branco-puro);
    border: none;
    width: 20px;
    height: 20px;
    font-size: 1.1rem;
}

.menu-ul {
    background: var(--branco-puro);
    width: 220px;
    border-radius: 10px;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 10px;
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
}

li {
    width: 80%;
    list-style: none;
}

li a {
    color: var(--cor-principal);
    text-decoration: none;
}

.cart-notification {
    grid-column: 3 / 4;
    display: flex;
    justify-content: end;
}

.btn-menu,
.btn-cart,
.btn-notification {
    background: transparent;
    border: none;
    color: var(--branco-puro);
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    justify-items: end;
}

.btn-cart,
.btn-notification {
    position: relative;
}

.btn-cart span,
.btn-notification span {
    font-size: 0.9rem;
    position: absolute;
    top: 0;
}

/* .menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
  
} */

/**********************Fim header*********************** */

.container {
    width: 100%;
    padding: 8px;
     padding-top: 100px;
}

.hero {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.galeria {
  
    width: auto;
    height: 100%;
    display: flex;
    overflow-y: auto;
    gap: 10px;
    background: var(--bege-claro);
}

.item {
    display: flex;
    justify-content: end;
    height: 100%;
    position: absolute;
    left: 2000px;
    transition: ease 1s;
}

.item.active {
    display: flex;
    left: 0;
    opacity: 1;
    width: 100%;
    max-width: 1200px;
}

.item img{
    filter: drop-shadow( 6px  11px  15px  #000000 );
}


.text-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 0 0 0 5px;
    position: absolute;
    left: 10px;
    top: 40px;
    
}

.text-button h2 {
    font-size: 1.1rem;
    width: 100%;
    color: var(--cor-texto-principal);
    text-shadow: 1px  5px  10px  #00000073 ;
}

.text-button button {
    background: var(--cor-secundaria);
    color: var(--branco-puro);
    border-radius: 10px;
    width: 100%;
    max-width: 220px;
    height: 35px;
    border: none;
    box-shadow: 5px 5px 10px 0px #232323;
    position: absolute;
    top: 120px;
    /* left: 25px; */
      
}

.text-button button:hover {
    background: var(--cor-principal);
}

.next,
.prev {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    height: 100%;
    color: #2020204d;
}

.prev {
    top: 0;
}

.next {
    top: 0;
    right: 0;
}

h3 {
    color: #000;
}

.posicoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 25px;
}

.posicao {
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background: var(--preto-indicador);
}

.posicao.active {
    width: 15px;
    background: var(--preto-puro);
}
/* ****************************Fim do hero************************** */

.produtos-destaques {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.card {
    width: 180px;
    height: 300px;
    border: solid 1px var(--cor-borda);
    border-radius: 5px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.conteudo-inferior-card {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding: 5px;
}

a.title-card {
    text-decoration: none;
    color: var(--cor-texto-principal);
    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}

.preco-botao {
    width: 100%;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: space-between;
}

.preco-botao a{
    width: 30px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: var(--cor-principal);
}

.preco-botao button:hover {
    background: #22283154;
    border-radius: 5px;
}

.card p {
    font-size: 0.8rem;
    color: var(--cor-principal);
}

@media (min-width: 700px){
    form{
        grid-row:1 / 2 ;
        grid-column: 2 / 3;
    }

    .menu-ul{
        display: flex !important;
        flex-direction: row;
        background: transparent;
        width: 100%;
        gap: 0;
        top: 50px;
        justify-content: space-around;
        
    }

.menu-ul li{
    width: auto;
}

    .menu-ul li a{
        color: var(--branco-puro);
    }

    .btn-menu{
        display: none;
    }

    .hero{
        height: 400px;
    }

    .text-button{
        padding-left: 10%;
        
    }
    
    .text-button h2{
        font-size: 2rem;
       margin-top: 80px;

    }

    
.text-button button {
  
    top: 250px;
   
      
}
}

@media (min-width: 900px){
 .hero{
    height: 500px;
 }

  
.text-button button {
  
    /* top:380px; */
   
      
}
}

